<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CompName</title>
    <link rel="stylesheet" type="text/css" href="./freelance_services.css"> 
    <link rel="stylesheet" type="text/css" href="./fonts/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div id="logo">LOGO</div>
        <nav>
            <div onclick="window.location.href='./freelance.html#Home';">Home</div>
            <div onclick="window.location.href='./freelance.html#services';">Services</div>
            <div onclick="window.location.href='./freelance_services.html#ScheduleForm'">Schedule Services</div>
            <div onclick="window.location.href='./freelance.html#contact';">Contact Us</div>
        </nav>
        <div id="cart" style="margin-right: 5%;"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></div>
    </header>
    <form id="ScheduleForm" action="submit" method="post">

        
    </form>
    <footer>
        <div>
            <i class="fa fa-facebook" aria-hidden="true" href="www.fb.com" onclick="sclPge(this)"></i>
            <i class="fa fa-instagram" aria-hidden="true" href="www.instagram.com" onclick="sclPge(this)"></i>
            <i class="fa fa-twitter" aria-hidden="true" href="www.twitter.com" onclick="sclPge(this)"></i>
        </div>
        <span style="margin-top:0.5%;user-select: none; ">Powered by Some company</span>
    </footer>



    <script>
        function sclPge(obj){
            lnk = obj.getAttribute("href");
            window.open("https://"+lnk, "_blank");
        }
    </script>
</body>
</html>