<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<title>Music Store</title>
</head>
<body>
	<h1>Welcome to Sam's Music Store</h1>
	<div>
		<h3>Our library contains:</h3>
		<table>
			<thead>
				<th>Song name</th>
				<th>Artist</th>
				<th>Genre</th>
			</thead>
			<tbody>
				{% if all_Lib %}
					{% for i in all_Lib %}
					<tr>
						{% csrf_token %}
						<td>{{ i.songName }}</td>
						<td>{{ i.artist }}</td>
						<td>{{ i.genre }}</td>
						<td>
							<button><a href="{% url 'edtItem' music_id=i.pk %}">Edit</a></button>
							<button><a href="{% url 'deleteItem' music_id=i.pk %}">Delete</a></button>
						</td>
					</tr>
					{% endfor %}
				{% else %}
					<h2>Nothing to show</h2>
				{% endif %}
			</tbody>
		</table>
	</div>

</body>
</html>