{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CompName</title>
    {% block headsec %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/font-awesome.min.css' %}">
</head>
<body>
    <header>
        <div id="logo">LOGO</div>
        <nav>
            <div id="home">Home</div>
            <div onclick="window.location.href='#services';">Services</div>
            <div id="scheduleservice">Schedule Services</div>
            <div onclick="window.location.href='#contact';">Contact Us</div>
        </nav>
        <div id="cart" style="margin-right: 5%;"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></div>
    </header>
    {% block body %}
    {% endblock %}

    <footer style="display: block; position: static; bottom: 0%;">
        <div>
            <i class="fa fa-facebook" aria-hidden="true" href="www.fb.com" onclick="sclPge(this)"></i>
            <i class="fa fa-instagram" aria-hidden="true" href="www.instagram.com" onclick="sclPge(this)"></i>
            <i class="fa fa-twitter" aria-hidden="true" href="www.twitter.com" onclick="sclPge(this)"></i>
        </div>
        <span style="margin-top:0.5%;user-select: none; ">Powered by Some company</span>
    </footer>
    <script>
        var home = document.getElementById("home");
        var scheduleservice = document.getElementById("scheduleservice");
        
        home.onclick = function(){
            window.location.href="{% url 'home' %}";
        }
        scheduleservice.onclick = function(){
            window.location.href = "{% url 'scheduleservice' %}";
        }
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>