{% extends 'base.html' %}
    {% load static %}
    {% block headsec %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/freelance.css' %}"> 
    {% endblock %}
    {% block body %}
        <main>
            <div id="slide">
                <div id="Larr">
                    <a>&#10094;</a>
                </div>
                <div id="Rarr">
                    <a>&#10095;</a>
                </div>
                <img src="http://tse4.mm.bing.net/th?id=ORT.TH_470633631&pid=1.12&eid=G.470633631" alt="sky">
                <span id="wlcmWrap" class="fade">
                    <h1 id="wlcmhd" style="padding:1%;border: 1px solid white;">WELCOME TO OUR PAGE</h1><br>
                    <p id="wlcmp">Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>Deserunt, officia illo blanditiis nobis, libero delectus a deleniti commodi voluptatem<br>praesentium aliquid repellat illum quidem quisquam quam voluptate? Consequuntur, iure?</p>
                </span>
            </div>
            <article id="services" style="margin-top: 4%;">
                <h2 style="margin-bottom: 2%;">SERVICES WE PROVIDE</h2>
                <section>
                    <h3>Section 1</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fuga cumque, accusantium maxime molestiae consequatur quisquam tempore! Modi, officiis ipsa!</span>
                </section>
                <section>
                    <h3>Section 2</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fuga cumque, accusantium maxime molestiae consequatur quisquam tempore! Modi, officiis ipsa!</span>
                </section>
                <section>
                    <h3>Section 3</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fuga cumque, accusantium maxime molestiae consequatur quisquam tempore! Modi, officiis ipsa!</span>
                </section>
                <section>
                    <h3>Section 4</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fuga cumque, accusantium maxime molestiae consequatur quisquam tempore! Modi, officiis ipsa!</span>
                </section>
                <section>
                    <h3>Section 5</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fuga cumque, accusantium maxime molestiae consequatur quisquam tempore! Modi, officiis ipsa!</span>
                </section>
            </article>
            <article id="lstSec">
                <section>
                    <h4>ABOUT US:</h4>
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum est ratione cum eaque illo in ipsa nostrum itaque accusantium eveniet?</span>
                </section>
                <section id="wrkDay">
                    <div>
                        <span>S</span>
                        <p>9-5</p>
                    </div>
                    <div>
                        <span>M</span>
                        <p>10-5</p>
                    </div>
                    <div>
                        <span>T</span>
                        <p>9-5</p>
                    </div>
                    <div>
                        <span>W</span>
                        <p>9-5</p>
                    </div>
                    <div>
                        <span>T</span>
                        <p>9-5</p>
                    </div>
                    <div>
                        <span>F</span>
                        <p>9-5</p>
                    </div>
                    <div>
                        <span>S</span>
                        <p>9-5</p>
                    </div>
                </section>
                <section id="schedule">
                    <section id="schBtn">
                        SCHEDULE A SERVICE
                    </section>
                </section>
            </article>
        </main>
        <div id="contact">
            <div style="font-size: 140%;user-select: none;">Contact US @</div>
            <div><i class="fa fa-phone fa-2x" aria-hidden="true"> 1234567890</i></div>
            <div><i class="fa fa-envelope fa-2x" aria-hidden="true">  myemail@domain.com</i></div>
        </div>
    {% endblock %}
    
    {% block scripts %}
        <script>
        var imgShw = document.getElementsByTagName('img')[0];
        var nxtImg =document.getElementById('Rarr');
        var prevImg =document.getElementById('Larr');
        var schBtn = document.getElementById('schBtn');
        var srcLst = ["http://tse4.mm.bing.net/th?id=ORT.TH_470633631&pid=1.12&eid=G.470633631","https://2.bp.blogspot.com/-B2AIu6n6kTE/XJkQCZVyogI/AAAAAAAAC74/hQbH-HbF0KsLBjAgCdzFguG6aK56KxmGACLcBGAs/s1600/nature%2Bwallpaper%2B4.jpg",
        "https://www.w3schools.com/howto/img_nature_wide.jpg","http://pics.tech4learning.com/images/pics-banner1-1300.jpg"]
        
        schBtn.onclick = function(){
            window.location.href="{% url 'scheduleservice' %}";
        }
        nxtImg.onclick =function(){
            var curSrc = imgShw.src;
           var inx = srcLst.indexOf(curSrc);
           if (inx == srcLst.length-1){
               inx = -1;
           }
            imgShw.src = srcLst[inx+1];
        };
        prevImg.onclick = function(){
            var curSrc = imgShw.src;
           var inx = srcLst.indexOf(curSrc);
           if (inx == 0){
               inx = srcLst.length;
           }
            imgShw.src = srcLst[inx-1];
        };
        function sclPge(obj){
            lnk = obj.getAttribute("href");
            window.open("https://"+lnk, "_blank");
        }
        </script>
    {% endblock %}