{% extends 'base.html' %}
{% load static  %}
{% load crispy_forms_tags %}
{% block headsec %}
<link rel="stylesheet" type="text/css" href="{% static 'css/freelance_services.css' %}">
<style>
    #detform > div{
        font-size: 150%;
        background: rgba(255,255,255,0.5);
        margin: 1%;
    }
    #detform > div > input{
        margin-left: 2%;
        width: 40%;
        height: 30px;
        vertical-align: 30%;
    }
    #detform > div > textarea{
        width: 40%;
        height: 60px;
    }
    
</style>
{% endblock %}

{% block body %}
    <div>
        <form id="detform" method="POST" action="{% url 'scheduleservice' %}" style="margin: 2% 5%;">
            {% csrf_token %}
            <div>
                <label>First Name:</label>
                {{form.fname}}
            </div>
            <div>
                <label for="lname">Last Name:</label>
                {{form.lname}}
            </div>
            <div>
                <label for="email">Email:</label>
                {{form.email}}
            </div>
            <div>
                <label for="phone">Phone:</label>
                {{form.phone}}
            </div>
            <div>
                <label for="dob">Date of Birth(YYYY-MM-DD):</label>
                {{form.dob}}
            </div>
            <div>
                <label for="address">Address:</label>
                {{form.address}}
            </div>
            <div>
                <label for="city">City:</label>
                {{form.city}}
            </div>
            <div>
                <label for="postal">Postal code:</label>
                {{form.postal}}
            </div>
            <div>
                <label for="country">Country:</label>
                {{form.country}}
            </div>
            <div>
                <label for="car_make">Car Make:</label>
                {{form.car_make}}
            </div>
            <div>
                <label for="car_model">Car Model:</label>
                {{form.car_model}}
            </div>
            <div>
                <label for="color">Color:</label>
                {{form.color}}
            </div>
            <div>
                <label for="year">Year:</label>
                {{form.year}}
            </div>
            <div>
                <label for="service_type">Service Type:</label>
                {{form.service_type}}
            </div>
            <div>
                <label for="service_date">Service Date(YYYY-MM-DD):</label>
                {{form.service_date}}
            </div>
            <input type="submit" name="submit" style="background: blue; color: white; padding: 1%; margin: 1% 47%; text-align: center;">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function sclPge(obj){
            lnk = obj.getAttribute("href");
            window.open("https://"+lnk, "_blank");
        }
    </script>
{% endblock %}