*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #ecf0f5;
}
#logo{
    user-select: none;
}
header{
    width: 90%;
    margin: auto;
    background: black;
    /* #367fa9; */
    display: flex;
    align-content: center;
    padding: 1%;
    justify-content: space-between;
    position: sticky;
    z-index: 2;
    top:0;
    color: white;
}
nav{
    width: 50%;
    display: flex;
    align-content: center;
    margin-left: 25%;
}
nav > div{
    margin: 0% 1%;
    padding: 1% 0%;
    width: 80%;
    background: rgba(255,255,255,0.5);
    text-align: center;
    color: white;
    border: 1px solid white;
    user-select: none;
}
nav :hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
#cart :hover{
    opacity: 0.8;
    color: lime;
}
footer{
    height: 15vh;
    background: #222;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer > div{
    display: flex;
    position: relative;
    padding-top: 1%;
    justify-content: center;
    top: 10%;
    color: white;
    text-align: center;
}
footer div i{
    margin: 0% 2%;
    padding: 0.8%;
    border: 1px solid white;
}
footer > span{
    display: inline-block;
    position: relative;
    color: white;
    z-index: 1;
    padding-top: 0.5%;
    left: 6%;
}
footer > div :hover{
    opacity: 0.8;
    color: lime;
    border: 1px solid lime;
}
footer div :hover{
    box-shadow: 1px 1px 8px #aaa;
}
footer div :active{
    box-shadow: none;
}